* {
  margin: 0;
  padding: 0;
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  background-image: url("./bg.png");
  background-repeat: no-repeat;
  background-size: 80% 100%;
  background-position: center;
  width: 100vw;
  height: 100vh;
}